  .shipping-policy{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
  }
  .shipping-policy svg{
    font-size: 30px;
  }
  .shipping-policy div{
    padding: 10px 50px;
    line-height: 20px;
  }
