.img-fluid{
    border-radius: 8px;
}
.quantity-update-btn{
    background: #00B3AC;
    color: white;
    border-radius: 44px;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.updated-quantity-count{
    border: 1px solid grey;
    padding: 4px 15px;
    border-radius: 5px;
}
.Remove-item{
    background: #dc3545;
    color: white;
    padding: 4px 15px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
}
.coupon-apply-btn{
    right: 12px;
    top: 40px;
    color: #dc3545;
}